name: Deploy to AKS (With Manual Inputs)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment (dev, stage, prod)'
        required: true
        default: 'dev'
      namespace:
        description: 'Kubernetes Namespace'
        required: true
        default: 'login-lab'
      imageTag:
        description: 'Image Tag (defaults to commit SHA)'
        required: false
      ResourceGroup:
        description: 'AKS Resource Group'
        required: true
        default: 'dev-rg'
      aks_cluster_name:
        description: "AKS cluster name"
        required: true
        default: "dev-aks"
env:
  ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v4
        with:
          resource-group: ${{ inputs.ResourceGroup }}
          cluster-name: ${{ inputs.AKS_CLUSTER_NAME }}

      - name: Docker login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push Docker images
        run: |
          TAG=${{ github.sha }}
          if [ "${{ github.event.inputs.imageTag }}" != "" ]; then
            TAG=${{ github.event.inputs.imageTag }}
          fi
          docker build -t $ACR_LOGIN_SERVER/web:$TAG ./web
          docker push $ACR_LOGIN_SERVER/web:$TAG
          
          docker build -t $ACR_LOGIN_SERVER/auth-api:$TAG ./auth-api
          docker push $ACR_LOGIN_SERVER/auth-api:$TAG

          docker build -t $ACR_LOGIN_SERVER/users-api:$TAG ./users-api
          docker push $ACR_LOGIN_SERVER/users-api:$TAG

      - name: Deploy to AKS
        run: |
          kubectl apply -f k8s/secret.yaml -n ${{ github.event.inputs.namespace }}
          kubectl apply -f k8s/deployment.yaml -n ${{ github.event.inputs.namespace }}
          kubectl apply -f k8s/service.yaml -n ${{ github.event.inputs.namespace }}

          kubectl -n ${{ github.event.inputs.namespace }} rollout status deployment/web --timeout=180s
